# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.xml
# Virtual Environment
venv/

# IDE / Editor folders
.idea/
.vscode/

# Database files
*.sqlite3
db.sqlite3

# Static and Media files (in production, these are handled differently)
/static/
/media/

# Environment variables (VERY IMPORTANT)
.env
*.env

# Log files
*.log

# Operating System files
.DS_Store
Thumbs.db